Setup/Workflows/linkedin_profile_scraper.json
{
  "name": "linkedin_profile_scraper",
  "nodes": [
    {
      "parameters": {
        "url": "https://linkedin-data-api.p.rapidapi.com/search-people",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keywords",
              "value": "={{ $('Webhook').item.json.query.keyword }}"
            },
            {
              "name": "geo",
              "value": "={{ $json.ids }}"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "430ef02738mshc6b56902ed1cc2ap1e6a53jsn6d2310c3ecc1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        260
      ],
      "id": "801fe34e-d09d-4f79-9a00-14df182683e9",
      "name": "Get Profiles"
    },
    {
      "parameters": {
        "url": "https://linkedin-data-api.p.rapidapi.com/search-locations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.query.location }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "430ef02738mshc6b56902ed1cc2ap1e6a53jsn6d2310c3ecc1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        260
      ],
      "id": "f5f3477c-0f3a-48a8-936c-f46f1c5f947d",
      "name": "Get geoloc"
    },
    {
      "parameters": {
        "path": "114f1a40-b072-4038-9775-837b26ed1042",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        260
      ],
      "id": "60cd4375-cc7d-43c0-887a-192041953854",
      "name": "Webhook",
      "webhookId": "114f1a40-b072-4038-9775-837b26ed1042"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1480,
        260
      ],
      "id": "d57d2ba4-4846-4f65-bcfa-563d7bdf8269",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        260
      ],
      "id": "5abef1f4-f97f-4427-87a2-d02c91b377f6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        540,
        260
      ],
      "id": "515a0559-0695-4857-97e0-e3fbf550e141",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const urnArray = $input.first().json.id;\n\n// Use regex to extract numbers and join them\nconst result = urnArray\n  .map(urn => {\n    const match = urn.match(/urn:li:geo:(\\d+)/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean) // Remove nulls\n  .join(',');\n\n// Return the result\nreturn [{ json: { ids: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        260
      ],
      "id": "dc980dbf-be85-4875-89cc-9c582d153c99",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Start Here\n\nWebhook with query parameters.\n\n- Keyword\n- Location",
        "height": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "46eee14c-6324-4371-9f9a-6cf409c1491b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Query the API to retrieve location codes for location key parameter.\n\nAggregate the locations codes and add it to the profile scraping request.\n\nWe are using the same API for the locations and the profiles.\n\n[RapidAPI Linkedin Scraper](https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api)",
        "height": 560,
        "width": 900,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "a6badb0a-188d-45cd-a9f1-83fe1d27a7c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Send scraping request",
        "height": 560,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "id": "c699e580-f45c-4d6b-ab4c-266e2bb19162",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Send Response to the app",
        "height": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        0
      ],
      "id": "182f1bef-81e8-41f9-874d-108295922048",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Get geoloc": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get geoloc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profiles": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30555693-9f4f-4e7e-91d0-4c9bc60288c9",
  "meta": {
    "instanceId": "1f3bf0740e86805879ff06102b8c465db40713bc059e5e6e6903caae1305dc76"
  },
  "id": "x3e5MCNuzXn4WxyR",
  "tags": []
}